<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SnakeMath"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Intro">

        </activity>
        <activity android:name=".TutorialSuma">

        </activity>
        <activity android:name=".TutorialResta">

        </activity>
        <activity android:name=".TutorialMultipicacion">

        </activity>
        <activity android:name=".TutorialDivision">

        </activity>

        <activity android:name=".TestSuma">

        </activity>

        <activity android:name=".TestResta">

        </activity>

        <activity android:name=".TestMultiplicacion">

        </activity>

        <activity android:name=".TestDivision">

        </activity>

        <activity android:name=".Resultado">

        </activity>

        <activity android:name=".Mapa">

        </activity>

        <activity android:name=".Level" >

        </activity>

    </application>

</manifest>